@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Itim', cursive;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    color: black;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: gray;
    background-color: transparent;
    border: 2px solid gray;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: auto;
    transition: .3s ease ; /*background-color */
    margin-top: 20%; /*ÉRDEKLŐDJ GOMB FEL - LE CSÚSZTATÁS */
}

.cta:hover{
    color: black;
    background-color: #946c3d;
    border: 2px solid black;
}

.brand h1{
  font-size: 3rem;
  text-transform: uppercase;
  color: white;  
}

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: #946c3d;
    transition: .3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: #946c3d;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}

#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul a{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #ebd8c1;
    font-size: 7rem;
    letter-spacing: 50px;
    z-index: -1;
    transform: .3s ease letter-spacing;
    opacity: .5;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: black;
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}

/*end of header*/

/* Footer */

#footer{
    background-image: linear-gradient(45deg, #946c3d 100% , #e1e1e1 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

#footer p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

/* End Of Footer */


/* Nedua Query for Tablet */

@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    /*Hero*/
    #hero h1{
        font-size: 7rem;
    }
    /*EndHero*/

    /*Service section*/
 
    /*Service section*/

    /*about*/

    #about .about{
        flex-direction: row;
    }

    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #946c3d;
    }

    #about .col-right{
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1{
        text-align: left;
    }
    /*about*/
}

/* End Nedua Query for Tablet */

/* Media Query for PC */

@media only screen and (min-width:1200px){
/*header*/
    #header .hamburger{
       display: none;
       
    }

    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li{
        display: inline-block;

    }

    #header .nav-list ul li a{
        font-size: 1rem;
    }

    #header .nav-list ul a:after{
        display: none;
    }


/*header*/

#services .service-bottom .service-item1{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item2{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item3{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item4{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item5{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item6{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item7{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item8{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item9{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item10{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item11{
    flex-basis: 22%;
    margin: 30px;
}

#services .service-bottom .service-item12{
    flex-basis: 22%;
    margin: 30px;
}
}

/* End of Media Query ofr PC */

/*munkafolyamat oldal body*/

#arakbody .arakbody p{
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

#arakbody{
    background-color: #ebd8c1;
}

#arakbody .arakbody li{
    font-size: 1em;
    text-align: left;
    margin-top: 2px;
    margin-left: 2em;
    margin-right: 2em;
}

/*#arakbody .arakbody ol{
    font-size: em;
    text-align: left;
    margin-top: 1000px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}*/

#arakbody .arakbody h1{
    display: block;
    font-size: 3rem;
    position: relative;
    text-align: center;
    padding-top: 2em;
    margin-bottom: 0.5em;
}